.header__table {
    display: flex;
    align-items: center;
    width: 65%;
    height: 80px;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: 120px;
    margin-right: 0;
    gap: 50px;
}