.header__table-home {
    font-family: '';
    font-size: 18px;
    font-weight: bold;
    color: #707070;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.header__table-home:hover {
    color: #ff9100;
}