.header__table-home {
    font-family: 'SF-Pro-Display-Bold';
    font-size: 18px;
    font-weight: bold;
    color: #707070;
    text-decoration: none;
    transition: color 0.3s ease-out;
    display: flex;
    align-items: center;     
}

.header__table-home:hover {
    color: #ff9100;
}